*,
*:before,
*:after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: #ffffff;
}

img {
  display: block;
  width: 100%;
}

h1 {
  font-size: 3.2rem;
  font-weight: 600;
}

h2 {
  font-size: 2.4rem;
  font-weight: 600;
}

h3 {
  font-size: 1.872rem;
  font-weight: 600;
}

h4 {
  font-size: 1.6rem;
  font-weight: 600;
}

h5 {
  font-size: 1.328rem;
}

.effect {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
.effect p {
  font-size: 1.328rem;
  color: #a0a0a0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #f1f1f1;
  font-family: Poppins, sans-serif;
  color: #000000;
}

.wrapper {
  max-width: 161rem;
  margin: 0 auto;
}

.header__inner {
  padding-top: 7rem;
}
.header__inner h2 {
  font-size: 2.4rem;
  text-align: center;
  font-weight: 600;
}
.header__inner h5 {
  padding: 2rem 0 6rem 0;
  font-size: 1.328rem;
  font-weight: 600;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
}
.header__inner-image {
  position: relative;
}
.header__inner-image h3 {
  position: absolute;
  color: #ffffff;
  font-size: 1.872rem;
  font-weight: 600;
  margin-left: 1.6rem;
  top: 50%;
  left: 0;
}
.header__inner-image h1 {
  position: absolute;
  font-size: 3.2rem;
  font-weight: 600;
  color: #ffffff;
  margin-left: 1.6rem;
  top: 54%;
  left: 0;
}
.header__inner-image .sub-btn {
  position: absolute;
  font-size: 1.6rem;
  color: #000000;
  background-color: #a0a0a0;
  margin-left: 1.6rem;
  top: 59%;
  left: 0;
  width: 12.7rem;
  height: 5rem;
  border: none;
  transition: 0.5s;
}
.header__inner-image .sub-btn:hover {
  background-color: #f44336;
  transition: 0.5s;
}

.main {
  max-width: 150rem;
  margin: 0 3rem;
  padding-top: 2rem;
}
.main__inner {
  display: grid;
  grid-template-columns: 102rem 50rem;
  grid-template-rows: auto auto auto 19rem 41rem 12rem 10rem;
  row-gap: 4rem;
}
.main .section__heading h4 {
  padding-top: 3.2rem;
  text-align: center;
}
.main .section__heading h5 {
  padding: 2rem 0 3rem 0;
  text-align: center;
}
.main .section__main img {
  width: 97rem;
  margin: 0 auto;
}
.main .section__main-content {
  max-width: 97rem;
  padding-top: 3rem;
  margin: 0 auto;
}
.main .section__main-contentspan {
  font-size: 1.1rem;
}
.main .section__main-footer {
  margin: 3rem 0 5rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}
.main .section__main-footer .btn-like {
  width: 8rem;
  height: 4rem;
  border: 0.1rem solid #000000;
  background-color: transparent;
  font-weight: 600;
}
.main .section__main-footer .replies {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  background-color: #000000;
  color: #ffffff;
  font-weight: 600;
  width: 12rem;
  height: 4rem;
}
.main .section__main-footer .replies p:last-child {
  padding-top: 0.6rem;
  margin-left: 1rem;
  width: 2.5rem;
  height: 2.2rem;
  color: #000000;
  background-color: #ffffff;
  text-align: center;
}
.main .section__main-author {
  border-top: 0.1rem solid #a0a0a0;
}
.main .section__main-author__inner {
  max-width: 34rem;
  padding-top: 2rem;
  margin: 0 -3.3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}
.main .section__main-author__inner img {
  width: 9rem;
  height: 10rem;
}
.main .section__main-author__inner-description {
  line-height: 4rem;
}

.sidebar__heading {
  width: 50rem;
  height: 6.7rem;
  padding: 2.5rem 1.7rem;
  background-color: #000000;
  color: #ffffff;
}

.sidebar01 {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 2;
  grid-column-end: 3;
  padding-left: 3rem;
  position: relative;
}
.sidebar01 h5 {
  position: absolute;
  top: 70%;
  left: 10%;
  font-weight: 600;
  color: #ffffff;
}
.sidebar01 span {
  position: absolute;
  top: 80%;
  left: 10%;
  color: #ffffff;
  line-height: 1.2rem;
}
.sidebar01 img {
  width: 50rem;
}

.sidebar02 {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3;
  margin-left: 3rem;
}
.sidebar02__author {
  width: 50rem;
  height: 33rem;
  background-color: #ffffff;
  padding: 0.6rem 1.6rem;
}
.sidebar02__author-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  height: 8rem;
  border-bottom: 0.1rem solid #a0a0a0;
}
.sidebar02__author-item:last-child {
  border: none;
}
.sidebar02__author-item img {
  width: 5.1rem;
  height: 5.6rem;
}
.sidebar02__author-item-info {
  padding-left: 2rem;
}

.sidebar03 {
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 2;
  grid-column-end: 3;
  margin-left: 3rem;
}
.sidebar03__main {
  width: 50rem;
  height: 24rem;
  background-color: #ffffff;
  padding-top: 2.6rem;
}
.sidebar03__main__inner {
  font-size: 1.5rem;
  width: 46rem;
  height: 20rem;
  padding-top: 9rem;
  text-align: center;
  margin: 0 auto;
  background-color: #f1f1f1;
}

.sidebar04 {
  width: 50rem;
  height: 10rem;
  grid-row-start: 4;
  grid-row-end: 5;
  grid-column-start: 2;
  grid-column-end: 3;
  column-gap: 0.2rem;
  row-gap: 0.5rem;
  margin-left: 3rem;
}
.sidebar04__main {
  background-color: #ffffff;
  padding: 1.7rem 0 3.2rem 1.5rem;
}
.sidebar04__main-tags {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto;
}
.sidebar04__main-tags-item {
  padding: 0.5rem;
  margin-top: 2rem;
  width: fit-content;
  height: 1.8rem;
  background-color: #f1f1f1;
}
.sidebar04__main-tags-item:first-child {
  background-color: #000000;
  color: #ffffff;
}

.sidebar05 {
  width: 50rem;
  height: 10rem;
  grid-row-start: 5;
  grid-row-end: 6;
  grid-column-start: 2;
  grid-column-end: 3;
  column-gap: 0.2rem;
  row-gap: 0.5rem;
  margin-left: 3rem;
}
.sidebar05__main {
  background-color: #ffffff;
  display: grid;
  grid-template-columns: auto auto;
  padding: 2rem;
}
.sidebar05__main img {
  width: 22rem;
  height: 15rem;
}

.sidebar06 {
  grid-row-start: 6;
  grid-row-end: 7;
  grid-column-start: 2;
  grid-column-end: 3;
  column-gap: 0.2rem;
  row-gap: 0.5rem;
  margin-left: 3rem;
}
.sidebar06__main {
  background-color: #ffffff;
  padding: 1rem;
  width: 50rem;
  height: 5rem;
}

#fb,
#ins,
#pin,
#twi,
#linkedin {
  font-size: 3rem;
}

.sidebar07 {
  width: 50rem;
  height: 5rem;
  grid-row-start: 7;
  grid-row-end: 8;
  grid-column-start: 2;
  grid-column-end: 3;
  column-gap: 0.2rem;
  row-gap: 0.5rem;
  margin-left: 3rem;
}
.sidebar07__main {
  background-color: #ffffff;
  padding: 1rem;
  font-size: 1.4rem;
}
.sidebar07__main input {
  margin-top: 1rem;
  width: 46rem;
  height: 4rem;
}
.sidebar07__main button {
  margin-top: 1rem;
  width: 46rem;
  height: 4rem;
  background-color: #f44336;
  color: #ffffff;
  border: none;
}

.section01 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 4;
  background-color: #ffffff;
}

.section02 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 4;
  grid-row-end: 8;
  background-color: #ffffff;
}

.section03 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 8;
  grid-row-end: 10;
  background-color: #ffffff;
}

footer {
  margin-top: 2.6rem;
  max-width: 192rem;
  height: 9rem;
  background-color: #616161;
}
footer button {
  width: 15rem;
  height: 4.5rem;
  margin: 1rem 5rem;
  background-color: #000000;
  border: none;
  color: #ffffff;
}
footer button a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
footer button a p {
  padding-left: 1rem;
  color: #ffffff;
}
footer p {
  font-size: 1.3rem;
  padding-left: 5rem;
  font-weight: 600;
  color: #000000;
}
footer p a {
  color: #000000;
}

/*# sourceMappingURL=style.css.map */
