* {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}

body {
	display: flex;
	background-color: #ffedca;
}

h1 {
	color: #cc6600;
	margin-bottom: 15px;
}

table {
	border-collapse: collapse;
	border: 1px solid black;
	width: 350px;
}

th,
td,
tr {
	border: 1px solid black;
}

.even_row {
	background-color: #ffedca;
}

.odd_row {
	background-color: #ffffff;
}

.first_col {
	text-align: center;
	width: 35px;
}

.first_row {
	background-color: #cc6600;
	color: #ffffff;
}