$text-color: #000000;
$background-color: #ffffff;
$background-color-opacity: #f1f1f1;
$btn-color: #f44336;
$sub-btn: #a0a0a0;
$footer-color: #616161;

@mixin flex($justify: center, $align: center, $wrap: nowrap) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-wrap: nowrap;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: $background-color;
}
img {
  display: block;
  width: 100%;
}

h1 {
  font-size: 3.2rem;
  font-weight: 600;
}

h2 {
  font-size: 2.4rem;
  font-weight: 600;
}

h3 {
  font-size: 1.872rem;
  font-weight: 600;
}

h4 {
  font-size: 1.6rem;
  font-weight: 600;
}
h5 {
  font-size: 1.328rem;
}

.effect {
  @include flex(center, center);
  & p {
    font-size: 1.328rem;
    color: $sub-btn;
  }
}

html {
  font-size: 62.5%; // 1rem = 10px
}

body {
  background-color: $background-color-opacity;
  font-family: Poppins, sans-serif;
  color: $text-color;
}
.wrapper {
  max-width: 161rem;
  margin: 0 auto;
}

.header {
  &__inner {
    padding-top: 7rem;
    & h2 {
      font-size: 2.4rem;
      text-align: center;
      font-weight: 600;
    }
    & h5 {
      padding: 2rem 0 6rem 0;
      font-size: 1.328rem;
      font-weight: 600;
      font-size: 1rem;
      font-weight: 600;
      text-align: center;
    }
    &-image {
      position: relative;
      & h3 {
        position: absolute;
        color: $background-color;
        font-size: 1.872rem;
        font-weight: 600;
        margin-left: 1.6rem;
        top: 50%;
        left: 0;
      }

      & h1 {
        position: absolute;
        font-size: 3.2rem;
        font-weight: 600;
        color: $background-color;
        margin-left: 1.6rem;
        top: 54%;
        left: 0;
      }

      .sub-btn {
        position: absolute;
        font-size: 1.6rem;
        color: $text-color;
        background-color: $sub-btn;
        margin-left: 1.6rem;
        top: 59%;
        left: 0;
        width: 12.7rem;
        height: 5rem;
        border: none;
        transition: 0.5s;
        &:hover {
          background-color: $btn-color;
          transition: 0.5s;
        }
      }
    }
  }
}

.main {
  max-width: 150rem;
  margin: 0 3rem;
  padding-top: 2rem;
  &__inner {
    display: grid;
    grid-template-columns: 102rem 50rem;
    grid-template-rows: auto auto auto 19rem 41rem 12rem 10rem;
    row-gap: 4rem;
  }
  .section {
    &__heading {
      & h4 {
        padding-top: 3.2rem;
        text-align: center;
      }
      & h5 {
        padding: 2rem 0 3rem 0;
        text-align: center;
      }
    }
    &__main {
      & img {
        width: 97rem;
        margin: 0 auto;
      }
      &-content {
        max-width: 97rem;
        padding-top: 3rem;
        margin: 0 auto;
        &span {
          font-size: 1.1rem;
        }
      }
      &-footer {
        margin: 3rem 0 5rem 0;
        @include flex(space-between, center);
        .btn-like {
          width: 8rem;
          height: 4rem;
          border: 0.1rem solid $text-color;
          background-color: transparent;
          font-weight: 600;
        }
        .replies {
          @include flex(center, center);
          p:last-child {
            padding-top: 0.6rem;
            margin-left: 1rem;
            width: 2.5rem;
            height: 2.2rem;
            color: $text-color;
            background-color: $background-color;
            text-align: center;
          }
          background-color: $text-color;
          color: $background-color;
          font-weight: 600;
          width: 12rem;
          height: 4rem;
        }
      }
      &-author {
        border-top: 0.1rem solid $sub-btn;
        &__inner {
          max-width: 34rem;
          padding-top: 2rem;
          margin: 0 -3.3rem;
          @include flex(space-between, center);
          & img {
            width: 9rem;
            height: 10rem;
          }
          &-description {
            line-height: 4rem;
          }
        }
      }
    }
  }
}

.sidebar__heading {
  width: 50rem;
  height: 6.7rem;
  padding: 2.5rem 1.7rem;
  background-color: $text-color;
  color: $background-color;
}

.sidebar01 {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 2;
  grid-column-end: 3;
  padding-left: 3rem;
  position: relative;
  & h5 {
    position: absolute;
    top: 70%;
    left: 10%;
    font-weight: 600;
    color: $background-color;
  }
  & span {
    position: absolute;
    top: 80%;
    left: 10%;
    color: $background-color;
    line-height: 1.2rem;
  }
  & img {
    width: 50rem;
  }
}

.sidebar02 {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3;
  margin-left: 3rem;
  &__author {
    width: 50rem;
    height: 33rem;
    background-color: $background-color;
    padding: 0.6rem 1.6rem;
    &-item {
      @include flex(flex-start, center);
      height: 8rem;
      border-bottom: 0.1rem solid $sub-btn;
      &:last-child {
        border: none;
      }
      & img {
        width: 5.1rem;
        height: 5.6rem;
      }
      &-info {
        padding-left: 2rem;
      }
    }
  }
}

.sidebar03 {
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 2;
  grid-column-end: 3;
  margin-left: 3rem;
  &__main {
    width: 50rem;
    height: 24rem;
    background-color: $background-color;
    padding-top: 2.6rem;
    &__inner {
      font-size: 1.5rem;
      width: 46rem;
      height: 20rem;
      padding-top: 9rem;
      text-align: center;
      margin: 0 auto;
      background-color: $background-color-opacity;
    }
  }
}

.sidebar04 {
  width: 50rem;
  height: 10rem;
  grid-row-start: 4;
  grid-row-end: 5;
  grid-column-start: 2;
  grid-column-end: 3;
  column-gap: 0.2rem;
  row-gap: 0.5rem;
  margin-left: 3rem;
  &__main {
    background-color: $background-color;
    padding: 1.7rem 0 3.2rem 1.5rem;
    &-tags {
      display: grid;
      grid-template-columns: auto auto auto auto auto auto auto;
      &-item {
        padding: 0.5rem;
        margin-top: 2rem;
        width: fit-content;
        height: 1.8rem;
        background-color: $background-color-opacity;
        &:first-child {
          background-color: $text-color;
          color: $background-color;
        }
      }
    }
  }
}

.sidebar05 {
  width: 50rem;
  height: 10rem;
  grid-row-start: 5;
  grid-row-end: 6;
  grid-column-start: 2;
  grid-column-end: 3;
  column-gap: 0.2rem;
  row-gap: 0.5rem;
  margin-left: 3rem;
  &__main {
    background-color: $background-color;
    display: grid;
    grid-template-columns: auto auto;
    padding: 2rem;
    & img {
      width: 22rem;
      height: 15rem;
    }
  }
}

.sidebar06 {
  grid-row-start: 6;
  grid-row-end: 7;
  grid-column-start: 2;
  grid-column-end: 3;
  column-gap: 0.2rem;
  row-gap: 0.5rem;
  margin-left: 3rem;
  &__main {
    background-color: $background-color;
    padding: 1rem;
    width: 50rem;
    height: 5rem;
  }
}
#fb,
#ins,
#pin,
#twi,
#linkedin {
  font-size: 3rem;
}

.sidebar07 {
  width: 50rem;
  height: 5rem;
  grid-row-start: 7;
  grid-row-end: 8;
  grid-column-start: 2;
  grid-column-end: 3;
  column-gap: 0.2rem;
  row-gap: 0.5rem;
  margin-left: 3rem;
  &__main {
    background-color: $background-color;
    padding: 1rem;
    font-size: 1.4rem;
    & input {
      margin-top: 1rem;
      width: 46rem;
      height: 4rem;
    }
    & button {
      margin-top: 1rem;
      width: 46rem;
      height: 4rem;
      background-color: $btn-color;
      color: $background-color;
      border: none;
    }
  }
}

.section01 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 4;
  background-color: $background-color;
}

.section02 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 4;
  grid-row-end: 8;
  background-color: $background-color;
}

.section03 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 8;
  grid-row-end: 10;
  background-color: $background-color;
}

footer {
  margin-top: 2.6rem;
  max-width: 192rem;
  height: 9rem;
  background-color: $footer-color;
  & button {
    width: 15rem;
    height: 4.5rem;
    margin: 1rem 5rem;
    background-color: $text-color;

    border: none;
    color: $background-color;
    & a {
      @include flex(center, center);
      & p {
        padding-left: 1rem;
        color: $background-color;
      }
    }
  }
  & p {
    font-size: 1.3rem;
    padding-left: 5rem;
    font-weight: 600;
    color: $text-color;
    & a {
      color: $text-color;
    }
  }
}
