body{
	width: 500px;
	margin: 370px;
	margin-top: 30px;
}
td,tr{
	border: 1px solid black;
	border-collapse:collapse;
	background-color: #e0f9d8;
	padding: 1px;
	height: 21px;
}
.right_colum {
	width: 210px;
}
.left_colum {
	width: 300px;
}
form{
	border: 1px solid black;
	width: 680px;
	height: 370px;
}
h1{
	text-align: center;
	color: #416c0c;
	font-size: 30px;
	font-weight: bold;
	margin: 20px 10px;

}
table{
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 17px;
}
.input_name{
	width: 200px;
}
.input_address {
	width: 150px;
}
.input_phoneNumber {
	width: 90px;
}
.input_numberPeopleComein {
	width: 70px;
}
.primary_font {
	color: #416c0c;
	margin: 20px 2px;
}
input[type=text]:focus {
	width: 96%;
	transition: width 0.4s ease-in-out;
}
input[type=text]:focus{
	width: 96%;
}
button {
	margin: 5px;
}
p {
	margin: 5px;
}
.content {
	height: 30px;
}
.input_choSanPhamThamGia {
	width: 120px;
}
.input_choSanPhamThamGia::-webkit-scrollbar, ::-webkit-scrollbar {
	width: 0px; /* Ẩn thanh cuộn */
}