.square {
	width: 330px;
	height: 230px;
	background-color: #5C5764;
	transition: 1s;
	margin: 10px 80px;
}

.square:hover {
	background-color: #489ce6 ;
}

.text {
	font-size: 30px;
	text-align: center;
	color: white;
	padding-top: 90px;
	font-family: Arial, Helvetica, sans-serif;
}